{% extends 'base.html'%}

{% block content %}
{% load static %}
<div class="card m-2">
    <header class="card-header">
        <p class="title is-4 m-4">{{game.name}} </p>
    </header>
    <div class="card-content">
        <div class="tabs">
            <ul>
                <li><a href="{% url 'game_detail' game.id%}">Game Details</a></li>
                <li class="is-active"><a href="{% url 'game_lb' game.id %}">Leaderboard</a></li>
            </ul>
        </div>
        <div class="content">
            {% for entry in game.entry.all %}
                {{entry.name}}
                {{entry.score}}
            {% endfor%}


            
        </div>
    </div>
    
</div>

{% endblock %}