{%extends 'base.html'%}

{% block content%}
{% load static %}
<div class="card">
    <header class="card-content">
        Games
    </header>
</div>

{% for game in game_list %}
    <div class="column is-one-fifth">
    <div class="card">
        <header class="card-header">
            {{game.name}}
        </header>
        <div class="card-content">
            <div class="content">
                {{game.shrt_des}}
            </div>
        </div>
    </div>
    </div>
{% endfor %}

{% endblock%}

