{%extends 'base.html'%}

{% block content%}
{% load static %}
<div class="card">
    <header class="card-content">
        Games
    </header>
</div>

{% for game in game_list %}
    <div class="column is-one-fifth">
        
        <div class="card">
        <a href="{% url 'game_detail' game.id%}">
        <header class="card-header">
            {{game.name}}
        </header>
        <div class="card-content">
            <div class="content">
                {{game.shrt_des}}
            </div>
        </div>
        </a>
        <footer class="card-footer">
            <a href="{{game.gameurl}}" class="card-footer-item">Play Game</a>
            <a href="{% url 'game_detail' game.id%}" class="card-footer-item">Details</a>


        </footer>
        
    </div>
    </div>
{% endfor %}

{% endblock%}

